  <header class="header" id="header">
    <div class="container header-layout">
      <div class="logo">
        <a href="/index.html"> <img src="/assets/images/logo.svg" alt="logo" /></a>
      </div>
      <div class="menu">

        <nav id="nav">
          <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="#menu">Menu</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#shop">Shop</a></li>
            <li><a href= "/pages/blog/blog.html">Blog</a></li>
            <li><a href="#contacts">Contacts</a></li>
            <a href="#" class="mbtn">Sign in <img src="/assets/icons/arrow-right.svg" alt=""></a>
          </ul>
        </nav>    
  
      <div class="search">
        <i class="fa-solid fa-magnifying-glass"></i>
        <input type="text" placeholder="search"/>
      </div>

      <div class="menuicons">
        <a href="#" class="cart-icon"> <img src="/assets/icons/icon-bag.svg" alt=""><span class="cart-value">0</span></a>
        <a href="#" class="mbtn">Sign in <img src="/assets/icons/arrow-right.svg" alt=""></a>
      </div>

      <div class="menu-toggle" id="menu-toggle">
          <span></span>
          <span class="small"></span>
          <span></span>
      </div>
      </div>
    </div>
  </header>

  <!-- &nbsp; -->