<header class="header" id="header">
    <div class="container header-layout">
        <div class="logo">
            <img src="assets/images/logo.svg" alt="logo">
        </div>
        <nav>  
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Menu</a></li>
                <li><a href="#">Service</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contacts</a></li>
            </ul>
        </nav>
            
            <div class="menuicons">
                <a href="#" class="cart-icon"><i class="fa-solid fa-bag-shopping"></i> <span class="cart-value">0</span></a>
                <a href="#" class="mbtn">Sign in<i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                <a href="" class="hamburgar "><i class="fa-solid fa-bars"></i></a>
            </div>
    </div>
</header>