.header {
  /* background: #61a18968; */
  background: transparent;
  padding: 15px 0;
  width: 100%;
   z-index: 1000;
   position: fixed;
    height: 62px;
}
.header-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.scrolled{
  background: rgba(9, 8, 8, 0.389);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: auto;
  background: rgb(249, 248, 248);
  border-radius: 50%;
}
.logo img {
  width: 100%;
  height: auto;
}

 .header.scrolled .logo img {
     height: 40px;
 }

.menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}
nav ul {
  display: flex;
  gap: 30px;
  justify-content: flex-end;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  position: relative;
  text-decoration: none;
  color: var(--hero-title);
}

nav ul li a::after {
  content: "";
  height: 1.5px;
  background-color:var(--btn-bg);
  bottom: -5px;
  left: 0;
  width: 0;
  position: absolute;
  transition: width 0.3s ease;
}

nav ul li a:hover {
  color: var(--white);

}
nav ul li a:hover::after {
  width: 100%;
}

.menuicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.menuicons a {
  text-decoration: none;
  color: var(--white);
}
.hamburgar {
  display: none;
}

.mbtn {
  background-color: var(--btn-bg);
  padding: 8px 16px;
  border-radius: 18px;
  transition: all 0.3s ease;
}
.mbtn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255, 204, 0, 0.4);
}
.cart-icon {
  position: relative;
  font-size: 18px;
}
.cart-value {
  background: var(--btn-bg);
  border-radius: 100%;
  text-align: center;
  position: absolute;
  font-size: 12px;
  width: 17px;
  line-height: 17px;
  aspect-ratio: 1;
  top: 50%;
  right: -10px;
}

.search {
  position: relative;
  width: 200px;
  justify-content: center;
  align-items: center;
}

.search i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #777;
  pointer-events: none;
  font-size: 13px;
}

.search input {
  padding: 8px 34px;
  border-radius: 18px;
  border: none;
  width: 100%;
}
.search input:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

 .menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
    gap: 5px;
    width: 32px;
    height: 21px;
    cursor: pointer;
    z-index: 1001;
}

   .menu-toggle span {
    display: block;
    width: 100%;
    height: 3px;
    background: var(--black);
    border-radius: 3px;
    transition: all 0.3s ease;
}
.menu-toggle .small {
    width: 19px;
}

.menu-toggle.active span:nth-child(1){
  transform:rotate(45deg) translateY(8px);
}

.menu-toggle.active span:nth-child(2){
  opacity: 0;
}

.menu-toggle.active span:nth-child(3){
  transform: rotate(-45deg) translateY(-8px);
}

@media screen and (max-width: 780px) {
.menu{
  gap: 30px;
}
  .search {
    width: 110px;
  }
  .mbtn{
    display: none;
  }
   .menu-toggle {
        display: flex;
    }

    nav{
      position: fixed;
      top: 15%;
      right: -100%;
      width: 60%;
      height: 100vh;
      /* background-color: rgb(0, 255, 13); */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: all 0.3s ease; ;
    }
 nav ul {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

nav.open{
  right: 0px;
  background-color:#04303040 ;
 backdrop-filter: blur(14px); 
 -webkit-backdrop-filter: blur(14px);
}

nav ul li a {
  color: var(--hero-title);
}

}
