.contact-div{
  padding: 100px 20px 20px ;
  background-image: url("../../../assets/images/hero-bg02.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 45vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact-subtitle-h1{
  font-size: 18px;
  color: var(--btn-bg);
  margin-bottom: 10px;
}

.contact-maintitle{
  font-size: 41px;
  color: var(--hero-title);
}
/* 2nd section */

.cnt-2nd-section{
  display: flex;
  justify-content: space-between;
  gap: 60px;
  /* padding: 50px 50px 0px 50px; */
  
}
.cnt-2nd-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  text-align: left;
  /* align-items: center; */
}
