
.hero {
  min-height: 100vh;
  background-image: url("../../../assets/images/hero-bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  padding: 120px 10px 0 10px;
}

.hero-container {
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.hero-text {
  flex: 1;
  display: flex;
  flex-direction:column;
  gap: 20px;
}

.hero-text h1 {
  font-size: 72px;
  color: var(--hero-title);
}

.hero-desc {
  font-size: 15px;
  color: var(--hero-p);
  line-height: 1.6;
}

.hero-btn {
  padding: 12px 30px;
  background: var(--btn-bg);
  color: var(--white);
  border: none;
  border-radius: 18px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  align-self: self-start;
}

.hero-btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 10px 25px rgba(255, 204, 0, 0.4);

}

.hero-image {
  flex: 1;
  text-align: right;
}

.hero-image img {
  max-width: 80%;
  height: auto;
  border-radius: 20px;
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
.hero-text{
  order: 2;
  text-align: center;
}
.hero-btn{
  align-self: center;
}
  .hero-text h1 {
    font-size: 32px;
  }

  .hero-image {
    text-align: center;
    order: 1;
  }
}
