.cart-popup{
position: fixed;
top: 0;
right: -100%;
width: 380px;
height: 100vh;
background: wheat;
box-shadow: -5px 0 10px rgba(0,0,0,0.2);
padding: 20px 0px;
transition: right 0.3s ease;
z-index: 9999;
overflow-y: auto;
}

.cart-popup h2{
    padding: 10px 0px 40px 0px;
    text-align: center;
}

.cart-item{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    margin-bottom: 30px;
    gap: 30px;
}  
.cart-item:hover{
    background: var(--white);
} 
.cart-item img{
    width: 85px;
}
.cart-item p{
    font-size: 17px;
}
.popup-btn{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.cart-item button {
  width: 20px;
  height: 20px;
  background: var(--black);
  color: var(--white);
  font-size: 19px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
   
.cart-total{
    background: var(--btn-bg);
    padding: 17px;
    margin-top: 80px;
    font-size: 22px;
    text-align: center;
}

.popup-close{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

#close-cart{
    padding: 12px 30px;
    border-radius: 18px;
    border: none;
    font-size: 18px;
    background: var(--btn-bg);
    cursor: pointer;
  
}
.cart-popup.open{
right: 0;
}

.cart-total .fa-indian-rupee-sign{
    font-size: 19px;
}