<footer class="footer">
    <div class="container footer-top">
        <div class="first-footer">

            <div class="footer-col">
                <a href=""> <img src="/assets/images/logo.svg" alt="Logo" class="footer-logo" width="140" height="60"> </a>

                <div class="footer-social">
                    <a href="https://github.com/ratnadeepdatta" target="_blank" rel="noopener noreferrer"><img
                            src="/assets/icons/github.svg" alt="GitHub" width="22" height="22"></a>
                    <a href="https://www.linkedin.com/in/ratnadeep-datta-6362bb328/" target="_blank"
                        rel="noopener noreferrer"><img src="/assets/icons/linkedin.svg" alt="LinkedIn" width="22" height="22"></a>
                </div>
            </div>

            <div class="footer-col">
                <h3>About This Portfolio</h3>
                <p>
                    This portfolio showcases my frontend projects, skills, and work style. I focus on clean code,
                    responsive design, and smooth user experience.
                </p>
            </div>

            <div class="footer-col">
                <h4>Contact</h4>
                <div class="footerIcon-item">
                    <img src="/assets/icons/phone.svg" alt="phone">
                    <a href="tel:+918974287067">+91 897 428 7067</a>
                </div>

                <div class="footerIcon-item">
                    <img src="/assets/icons/mail.svg" alt="mail">
                    <a href="mailto:ratnadeepkut@gmail.com">
                        ratnadeepkut@gmail.com
                    </a>
                </div>

            </div>
        </div>
        <div class="footer-bottom">
             <p>© <span id="year"></span>, Ratnadeep Datta. All Rights Reserved.</p>
            <p>Made with ❤️ in Tripura by Ratnadeep</p>
        </div>
    </div>

</footer>