            .about-hero {
                padding: 100px 20px;
                background-image: url("../../assets/images/hero-bg02.webp");
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                height: 50vh;
            }

            .about-maindiv {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                flex-direction: column;
                text-align: center;
                gap: 20px;
            }

            .about-subtitle-h1 {
                font-size: 18px;
                padding-top: 50px;
                color: var(--btn-bg);
            }

            .about-main-title-h2 {
                font-size: 41px;
                padding: 0px;
                color: var(--hero-title);
            }

            /*  ===========  2nd section  ================= */

            .about-first-section {
                padding: 50px 20px;
            }

            .about-firstdiv {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 40px;
                padding: 0;
            }

            .about-left-img {
                /* width: 50%; */
                flex: 1;
            }

            .about-left-image {
                border-radius: 30px;
                transition: all 0.3s;
                border-bottom: 5px solid red;
                border-right: 5px solid var(--btn-bg);
                padding: 0px;
                /* width: 50%; */
            }

            .about-left-image:hover {
                transform: translateY(-13px);
            }

            /* ========================  for text css  ================= */

            .about-right-text-div {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 20px;
            }

            .about-right-text-h2 {
                font-size: 32px;
            }

            .about-right-text-h2 span {
                color: var(--btn-bg);
            }

            .about-btn1 {
                padding: 12px 30px;
            }

            .about-btn1 {
                padding: 12px 30px;
                background: var(--btn-bg);
                color: var(--white);
                border: none;
                border-radius: 18px;
                font-size: 14px;
                font-weight: 500;
                cursor: pointer;
                transition: 0.3s;
                align-self: self-start;
            }

            .about-btn1:hover {
                transform: translateY(-4px);
                box-shadow: 0 10px 25px rgba(255, 204, 0, 0.4);
            }

            /* ==================  This are for 2nd section  =================== */
            .about-secend-section {
                background-color: var(--bg-gray);
                padding: 50px 20px 150px 20px;
            }

            .about-secenddiv {
                text-align: center;
                padding: 0;
            }

            .secend-section-title-h2 {
                font-size: 32px;
            }

            .secend-section-title-h2 span {
                color: var(--btn-bg);
            }

            .secend-section-text-p {
                padding: 15px 0px;
                line-height: 20px;
            }

            /* =============  This are code for Grid section  =============== */
            .about-secend-griddiv {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                gap: 25px;
                margin-top: 40px;
            }

            .chef-card {
                position: relative;
            }

            .chef-image {
                width: 100%;
                display: block;
                height: 450px;
                object-fit: cover;
                border-top: 5px solid var(--btn-bg);
                border-right: 5px solid var(--btn-bg);
                border-radius: 20px 20px 0 0;
                transition: all 0.3s;
            }

            .chef-image:hover {
                transform: translateY(-13px);
                transition: all 0.3s;
            }

            .chef-content {
                position: absolute;
                bottom: 0;
                width: 100%;
                text-align: center;
                padding: 70px 10px;
                background-image: url(../../../assets/images/chef-bg.webp);
                background-size: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                margin-bottom: -120px;
                /* z-index: 9998; */
            }

            .chef-name {
                color: white;
                font-size: 20px;
                margin-bottom: 10px;
            }

            .chef-role {
                color: var(--bg-gray);
                font-size: 16px;
            }

            /* ===========  Hello order section  ================= */
            .hello-order-section {
                background-image: url(../../assets/images/hero-bg02.webp);
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                padding: 50px 20px;
                /* margin-top: 45px; */
            }

            .hello-order-div {
                display: flex;
                justify-content: space-between;
                gap: 40px;
                padding: 0;
            }

            .order-text-left {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: start;
                gap: 25px;
            }

            .order-heading-h2 {
                font-size: 32px;
                color: var(--white);
                font-weight: 600;
            }

            .order-heading-h2 span {
                color: var(--btn-bg);
            }

            .order-para-p {
                color: var(--hero-title);
            }

            .order-content-div {
                display: flex;
                gap: 20px;
            }

            .ord-number-text {
                font-size: 30px;
                color: var(--btn-bg);
            }

            .order-image-right {
                width: 50%;
                background-image: url(../../../assets/images/cloud.webp);
                background-position:center;
                background-size: 90%;
                background-repeat: no-repeat;
                /* padding: 20px; */
            }


            .order-right-image {
                border: 0;
                outline: 0;
                max-width: 100%;
                will-change: transform;
                transition: transform 0.1s linear;
                margin-left: -70px;
            }

            @media (max-width: 768px) {
                .about-hero {
                    height: 45vh;
                }

                .about-main-title-h2 {
                    font-size: 30px;
                }

                .about-subtitle-h1 {
                    padding-top: 35px;
                }

                .about-first-section {
                    padding: 50px 0px;
                }

                .about-left-image {
                    width: 100%;
                }

                .about-right-text-div {
                    width: 100%;
                }

                .about-right-text-h2 {
                    font-size: 25px;
                }

                .about-firstdiv {
                    flex-direction: column;
                    gap: 40px;
                }

                .secend-section-title-h2 {
                    font-size: 25px;
                }

                .about-secend-griddiv {
                    grid-template-columns: repeat(1, 1fr);
                    gap: 150px;
                }

                .hello-order-section {

                    padding: 0px 0px 40px 0px;
                }

                .order-text-left {
                    width: 100%;
                    order: 2;
                }

                .hello-order-div {
                    flex-wrap: wrap;
                    justify-content: center;
                }

                .order-image-right {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                }

                .order-right-image {
                    max-width: 100%;
                }

                .order-heading-h2 {
                    font-size: 25px;
                }

            }