body{
  font-family: Arial;
  background: #f5f5f5;
}

.container{
  width: 1200px;
  margin: auto;
}

.blog-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
  margin-top: 40px;
}

.blog-card{
  background: white;
  border-radius: 6px;
  overflow: hidden;
}

.blog-image{
  position: relative;
}

.blog-image img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.category{
  position: absolute;
  top: 10px;
  right: 10px;
  background: orange;
  color: white;
  padding: 5px 10px;
  font-size: 12px;
}

.blog-content{
  padding: 15px;
}

.blog-meta{
  font-size: 12px;
  color: gray;
  margin-bottom: 10px;
}

.blog-content h3{
  margin: 10px 0;
}

.read-more{
  color: orange;
  font-weight: bold;
  text-decoration: none;
}