  .review-section{
    padding: 50px 20px;
    background: var(--bg-gray);
  }
  .testimonial{
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .review-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .review-header h2{
    font-size: 37px;
    font-weight: 600;
  }

  .review-container{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
  }

  .review-card{
    background:var(--white);
    padding:20px;
    border-radius:12px;
    height: 250px;
    /* width: 250px; */
  }

  .review-card img{
    width:50px;
    height:50px;
    border-radius:50%;
  }

  .review-popup{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    display:none;
    justify-content:center;
    align-items:center;
  }
  
  .popup-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
    background:#fff;
    padding:20px;
    width:400px;
    height: 300px;
  }
 #reviewText{
  margin: 10px 0px;
  width: 350px;
  height: 100px;
  padding: 8px;
 }
 

/* active star */
.star.active {
  color: #ffc107 !important;
}

/* inactive star */
.star.normal {
  color: #333 !important;
}
  .rating-input i{
    font-size:20px;
    cursor:pointer;
    
  }

  .rating-input i.active{
    color:orange;
  }
